<div id="content">
    <h1>Questionnaire</h1>
    <div>
        <p>Instructions: Answer the following questions in any way you want to
        </p>
        <button mat-stroked-button color="accent" [routerLink]="['/']">Return to home page</button>
    </div>
    <ng-container>
        <div class="form">
            <mat-vertical-stepper [linear]="isLinear" #stepper>
                <ng-template matStepperIcon="edit">
                    <mat-icon>done</mat-icon>
                </ng-template>
                <div *ngFor="let question of questionsData; let i=index">
                    <mat-step [editable]="isEditable">
                        <ng-template matStepLabel>{{question.description}}</ng-template>
                        <p>
                            {{question.description}}
                        </p>
                        <div fxLayout="row" fxLayoutGap="6em">
                            <p class="sliderLabel top" (click)="setSliderValue('disagree')">Disagree</p>
                            <p class="sliderLabel top" (click)="setSliderValue('agree')">Agree</p>
                        </div>
                        <mat-slider id="slider" step="25" tickInterval="1" value="currentSelection.value"></mat-slider>
                        <div fxLayout="row" fxLayoutGap="6em">
                            <p class="sliderLabel bottom" (click)="setSliderValue('stronglyDisagree')">Strongly<br>Disagree</p>
                            <p class="sliderLabel bottom" (click)="setSliderValue('neither')">Neither</p>
                            <p class="sliderLabel bottom" (click)="setSliderValue('stronglyAgree')">Strongly<br>Agree</p>
                        </div>
                        <span *ngIf="i < questionsData.length - 1">
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </span>
                        <span *ngIf="i == questionsData.length - 1">
                            <button mat-raised-button color="primary" (click)="finish()">Done</button>
                        </span>
                    </mat-step>
                </div>
            </mat-vertical-stepper>
        </div>
    </ng-container>
</div>