<div id="content">
    <h1>Dashboard</h1>
    <div class="buttons" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5%">
        <button mat-raised-button color="primary" [routerLink]="['/longQuestionnaire']">Long questionnaire</button>
        <button mat-raised-button color="primary" [routerLink]="['/shortQuestionnaire']">Short questionnaire</button>
        <button mat-raised-button color="secondary" [routerLink]="['/dailyQuestionnaire']">Daily questionnaire</button>
        <button mat-raised-button color="primary" [routerLink]="['/dataDisplay']">See questionnaire results</button>
        <button mat-raised-button color="primary" [routerLink]="['/']">Logout</button>
    </div>
</div>