<div id="content">
    <h1>MockPollo</h1>
    <p>This is a cut down, obfuscated version of the Apollo application I have been working on. The application is <strong>designed for mobile viewing</strong></p>
    <div class="buttons" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5%">
        <button mat-raised-button color="primary" [routerLink]="['/longQuestionnaire']">Long questionnaire</button>
        <button mat-raised-button color="accent" [routerLink]="['/dailyQuestionnaire']">Daily questionnaire</button>
        <button mat-raised-button color="primary" [routerLink]="['/dataDisplay']">See questionnaire results</button>
    </div>
</div>