<div id="content">
    <div>
        <h2>Daily Journal</h2>
    </div>
    <div class="bottomSpace">
        <button mat-stroked-button color="accent" [routerLink]="['/']">Return to home page</button>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Entry Date</mat-label>
            <input matInput [formControl]="journalEntryDate" type="date" required>
        </mat-form-field>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Events">
                <mat-form-field>
                    <mat-label>Today's events</mat-label>
                    <textarea matInput [formControl]="eventEntry"></textarea>
                </mat-form-field>
            </mat-tab>
            <mat-tab label="Weather">
                <mat-form-field>
                    <mat-label>Today's weather</mat-label>
                    <textarea matInput [formControl]="weatherEntry"></textarea>
                </mat-form-field>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="journalEntryDate.value == undefined">
        <button class="topSpace" mat-raised-button color="accent" disabled>Submit Journal Entry</button>
    </div>
    <div *ngIf="journalEntryDate.value != undefined">
        <button class="topSpace" mat-raised-button color="accent" [routerLink]="['/']">Submit Journal Entry</button>
    </div>
</div>